.classone {
    color: white;
    /* padding: 10px; */
    font-style:bold;
}
/*Class selector starts with .*/

/*Combined selectors */

li.classone{
    font-style:bold;
    color: rgb(255, 255, 255);
    /* margin-left: 10px; */
}
.classtwo{
    font-size:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:-5px;
}
.classthree{
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}
/* html covers the whole page! */
/* body covers nearly the whole page...*/
body {
     background-color: rgb(71, 224, 199); 
    width: 800px; 
    border:rgb(0, 0, 0) solid 10px;
    margin:auto;
    padding: 50px 20px;
}

#headerID{
    color:white;
    font-size:25px;
    margin-top:20px;
    margin-left:-2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}